@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:link {
  @apply text-blue-400 hover:text-blue-900;
}

.link {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}
.def-button {
  @apply rounded bg-gray-100 py-2  px-6 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}
.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}
.primary-button {
  @apply rounded px-8 shadow outline-none bg-yellow-100 py-2  hover:bg-yellow-300  active:bg-yellow-500;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

a:link {
  color: #000;
} /* unvisited link  */
a:visited {
  color: #000;
} /* visited link    */
a:hover {
  color: #000;
} /* mouse over link */
a:active {
  color: #000;
} /* selected link   */

select,
input,
textarea {
  @apply bg-white rounded border p-2 outline-none ring-yellow-300 focus:ring;
}

.dropdown-prof {
  @apply rounded flex p-2 hover:bg-gray-300;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.carousel-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  width: inherit;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100%;
  padding: 60px 0;
  text-align: center;
  background: url('https://sputnik.kz/img/82/34/823478_0:47:2048:1334_1920x0_80_0_0_96d16642a05e3c9911ead009cfc304f4.jpg');
  color: black;
  background-repeat: no-repeat;

  resize: both;
}
.header h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}
.header p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}
.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}

.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}

.layout {
  position: absolute;
  z-index: 1;
}

.carousel {
  position: relative;
  z-index: 1000;
  margin-top: 1%;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
